<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="login">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      {% block fos_user_login %}{% endblock fos_user_login %}
    </div>
  </div>
</div>
