<div class="banner">
    {# banner #}
    <img src="{{ vich_uploader_asset(user, 'bannerFile') }}" alt="bannière utilisateur {{ user.bannerName }}" class="banner_img" />
    {# avatar #}
    <img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="{{ user.imageName }}" class="avatar_banner" />
</div>