
.body-back{
    /* background-color: #a7c5c1; */
    
}

.body{
    max-width: 1200px;
    min-width: 70%;
    margin: 10px auto;
    font-size: 18px;
    color:#003300;
    padding: 20px;
}

.lateral{
    border-left: 1px solid rgba(0,0,0,.1);
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;

    color:#666;
}

.lateral-bloc{
    margin-bottom: 60px;
}

.lateral a{
    color:#666;
}

a{
    color: #2aa67d;
}
.page{
    /* padding: 10px 50px 0 50px; */
}
.container{
    max-width: 1270px;
    margin:           20px auto;
    padding:      20px 0px 0px 0px;
    background-color: white;
    border:           1px  solid #86b0aa;
}

#topnavbar{
    background-color: rgba(0,0,0,.6);
}
#topnavbar a, #topnavbar input, #topnavbar button{
    padding-top: 0px;
    padding-bottom: 0px;

}
#topnavbar a, #topnavbar button{
    color: #e0f0ee;
}


.Menu, .UserMenu{
    height: 56px;
    background-color: #e0f0eee6;
    position: relative;
}


.Menu .navbar-nav, .UserMenu .navbar-nav{
    margin-left: auto;
    margin-right: auto;
}
.Menu .navbar-light .navbar-nav .active > .nav-link,
.UserMenu .navbar-light .navbar-nav .active > .nav-link{
    background-color: white;
    /* border-radius:    5px; */
    color:            #2aa67d;
    font-weight:      bolder;
}
.Menu .navbar li:hover,
.UserMenu .navbar li:hover{
    background-color: rgba(255,255,255,.7);
    /* border-radius: 5px; */
}

.Menu .nav-item,
.UserMenu .nav-item{
    margin-right: 5px;
    min-width:    100px;
    text-align:   center;
    /* color:        #666; */
    background-color: #e0f0ee33;
    z-index: 1300;
}
.Menu a,
.UserMenu a{
    color: darkslategray;
}

/* 
data-start="position: static;top:0px; background-color: blue;" data-top="position: fixed;top: -5px; left: 0;right: 0;z-index: 1250;background-color: yellow;" */
.fixnav nav{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    z-index: 1250;
}

.fixnav .nav-item{
    background-color: #e0f0eeb3;
}

.Menu .navbar-light .navbar-nav .nav-link:hover,
.navbar a:hover{
    color: #2aa67d;
}

.Header{
    max-height: 50vh;
    /* max-height: 250px; */
    overflow: hidden;
    margin-bottom: -56px;
}

.Footer{
    background-color: #222;
    padding:          60px 0;
    width:            100%;
    display:          block;
    text-align:       center;

}
.Footer a{
    color:rgba(255,255,255,.7);
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
}

/* décalage du menu de 1px pour éviter de sortir du focus avant d'être sur le sous menu */
.dropdown-menu{ 
    margin-top: -1px;
}

.search-container input{
    margin: 0px;
    border: 1px solid rgba(0,0,0,.1);
    padding-left: 5px;
}
.search-container button{
    margin-left: -5px;
    padding: 1px 10px;
    border: 1px solid rgba(0,0,0,.1);
}

.search-container{
    margin: 0px 20px 40px 20px;
}


/* LOGIN PART */
.modal-header{
    background-color: #e0f0ee;
}
.modal-header h4{
    position: absolute;
    float: left;
}